@import '../../scss/variables';
.pass-inputs {
  #pass-inputs-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    .form-inputs,
    .form-group {
      width: 100%;
    }
  }
}
.pass-hide-btn {
  border: 1px solid $charcoal;
  border-radius: 0.25rem;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s ease;
  margin-left: 10%;
  &:active,
  &:focus {
    border: 1px solid $charcoal;
    outline: none;
  }
  &:hover {
    background-color: $charcoal;
    svg {
      fill: #fff;
    }
  }
}
