.members-task-table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 30% !important;
  }
}
.admin-btns {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: min-content min-content;
  .custom-btn {
    justify-self: self-start;
  }
}
