.collapse-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.members-filter {
  .form-inputs__radio {
    grid-area: 1 / 3 / span 2 / span 1;
    flex-direction: column;
    padding: 0;
    .radio-btns__wrapper {
      margin-bottom: 1.5rem;
    }
  }
}
.userTasks-filter {
  grid-template-columns: 1fr 1fr;
}
