@import '../../scss/variables';
.btn {
  height: fit-content;
  width: 5rem;
  border: none;
  padding: 0;
  background-color: $charcoal;
  font-size: 1rem;
  font-family: Lato;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  &:hover {
    cursor: pointer;
    background-color: $charcoal-hover;
    color: #fff;
  }
  line-height: 2rem;
  text-decoration: none;
  color: #fff;
  .btn-inner,
  a {
    margin: 0;
    width: 100%;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
  }
}
.btn-danger {
  background-color: $honeysuckle;
  &:hover {
    background-color: $honeysuckle-hover;
  }
}
.btn-success {
  background-color: $teal-green;
  &:hover {
    background-color: $teal-green-hover;
  }
}
.btn-outline {
  width: 100%;
  background-color: transparent;
  border: 1px solid $charcoal;
  transition: all 0.3s ease-in-out;
  color: $charcoal;
  padding: 0 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: $charcoal;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
}
.menu-btn {
  cursor: pointer;
}
.btn-logout {
  @include inactive-link;
  width: auto;
  background-color: $honeysuckle;
  padding: 0 1rem 0 1rem;
  &:hover {
    @include active-link;
  }
}
