@import '../../scss/variables';
.custom-btn {
  height: 2rem;
  width: 5rem;
  border: none;
  padding: 0;
  background-color: $charcoal;
  font-size: 1rem;
  font-family: Lato;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  a {
    width: 100%;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
  }
}
.danger {
  background-color: $honeysuckle;
}
