@import '../../scss/variables';
.custom-btn {
  height: fit-content;
  width: 5rem;
  border: none;
  padding: 0;
  background-color: $charcoal;
  font-size: 1rem;
  font-family: Lato;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  .btn-inner,
  a {
    margin: 0;
    width: 100%;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
  }
}
.btn-danger {
  background-color: $honeysuckle;
}
.btn-success {
  background-color: $teal-green;
}
.btn-link {
  width: 100%;
  background-color: transparent;
  border: 1px solid $charcoal;
  transition: all 0.3s ease-in-out;
  .btn-inner {
    color: $charcoal;
  }
  &:hover {
    cursor: pointer;
    background-color: $charcoal;
    transition: all 0.3s ease-in-out;
    .btn-inner {
      color: #fff;
    }
  }
}
.menu-btn {
  cursor: pointer;
}
