@import '../../scss/variables';

.alert {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  z-index: 4;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border: none;
  &-danger {
    color: #fff;
    background: $honeysuckle;
  }
  &-success {
    color: #fff;
    background-color: $teal-green;
  }
  button {
    height: 100%;
    span {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

.alert-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: progress 5s linear;
  height: 5px;
  width: 100%;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.danger-progress {
  background-color: $honeysuckle-hover;
}

.success-progress {
  background-color: $teal-green-hover;
}

@keyframes progress {
  from {
    width: 0;
    border-bottom-right-radius: 0;
  }
  to {
    width: 100%;
    border-bottom-right-radius: 0.25rem;
  }
}
