@import '../../scss/variables';
.container {
  padding: 5rem 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dark-mode-container {
  .main-title,
  .title,
  .subtitle,
  .paragraph,
  .active {
    color: #fff;
  }
  .custom-control-label {
    color: #fff;
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $teal-green;
  border-color: $teal-green;
}
input[type='checkbox'] + label {
  cursor: pointer;
}
