.members-progress-table {
  th:nth-child(3),
  td:nth-child(3) {
    width: 50% !important;
  }
}
.user-btns {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: min-content min-content;
  button {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .user-progress {
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
    .user-btns {
      grid-template-rows: min-content min-content;
      grid-template-columns: min-content;
    }
  }
}
