@import '../../scss/variables';
.login-form-wrapper {
  width: 25rem;
  background-color: $charcoal;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2rem 3rem;
  .login-form {
    display: flex;
    flex-direction: column;
    &__input {
      margin-bottom: 1rem;
      label {
        width: 100%;
      }
    }
    .btn {
      width: 5rem;
      align-self: flex-end;
      margin-bottom: 1rem;
    }
    .pass-inputs {
      padding: 0 0 1rem 0;
      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        #pass-inputs-wrapper {
          width: 100%;
        }
        input {
          padding: 0.375rem 0.75rem;
        }
        .pass-hide-btn {
          background-color: #fff;
          border-color: $grey;
          &:hover {
            background-color: $grey-ligth;
            svg {
              fill: #000;
            }
          }
        }
      }
    }
  }
  .btn {
    width: 100%;
  }
  @media screen and (max-width: 425px) {
    width: 100%;
    border-radius: 0;
  }
}
.dark-wrapper {
  background-color: $black;
  .dark-form {
    input,
    input:focus,
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $charcoal inset;
      -webkit-text-fill-color: #fff !important;
      background-color: $charcoal;
      color: #fff;
    }
    #pass-inputs-wrapper {
      .pass-hide-btn {
        background-color: $charcoal;
        border-color: #ced4da;
        svg {
          fill: #ced4da;
        }
        &:hover {
          background-color: #ced4da;
          svg {
            fill: #000;
          }
        }
      }
    }
  }
}
