@import '../../scss/variables';
.login-form-wrapper {
  width: 25rem;
  background-color: $charcoal;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2rem 3rem;
  .login-form {
    display: flex;
    flex-direction: column;
    &__input {
      margin-bottom: 1rem;
      label {
        width: 100%;
      }
    }
    .btn {
      width: 5rem;
      align-self: flex-end;
      margin-bottom: 1rem;
    }
  }
  .btn {
    width: 100%;
  }
}
.dark-form {
  input,
  input:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $charcoal inset;
    -webkit-text-fill-color: #fff !important;
    background-color: $charcoal;
    color: #fff;
  }
}
