@import '../../scss/variables';

.date-input-group__wrapper {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.date-input-group {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  .form-group {
    width: calc(100% - 1.875rem);
    flex-grow: 1;
    margin-bottom: 0;
  }
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    padding-right: 0;
    &::-webkit-calendar-picker-indicator {
      margin-left: 0; // !!!!!!!!!
    }
  }
}
.input-group-append {
  .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.375rem;
    transition: all 0.3s ease;
    svg {
      height: 1rem;
      width: 1rem;
      margin: 0;
      fill: $honeysuckle;
    }
    &:hover {
      cursor: pointer;
      background-color: $icelandic-white;
    }
  }
}

.collapse-container {
  .input-group-append {
    height: 2rem;
  }
}
