.form__content_container {
  padding: 1rem 0;
}
.modal__content_container {
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.form-inputs {
  margin: 0;
  padding: 1rem;
  &__radio {
    display: flex;
    justify-content: space-between;
  }
  .form-group {
    margin: 0;
    width: 65%;
  }
  label {
    display: flex;
    justify-content: space-between;
    input {
      padding: 0 0.5rem;
      height: auto;
    }
  }
  .radio-label {
    justify-content: flex-start;
    input {
      width: auto;
      margin-right: 1rem;
    }
  }
}
.members-modal {
  .form-inputs:last-child {
    grid-area: 7 / 1;
  }
}
.tasks-track-modal {
  grid-template-columns: 1fr;
  .form-inputs .form-group {
    width: 75%;
  }
}
.tasks-modal {
  grid-template-columns: 1fr 1fr;
  .form-inputs:first-child {
    grid-area: 1 / 1 / 2 / 3;
    .form-group {
      width: 80%;
    }
  }
  .form-inputs:nth-child(2) {
    .form-group {
      padding-left: 7%;
    }
  }
  .form-inputs:last-child {
    grid-area: 3 / 3 / 3 / 1;
    .form-group {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
  .modal__content_container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .tasks-modal {
    grid-template-columns: 1fr;
    .form-inputs:first-child {
      grid-area: auto;
      .form-group {
        width: 65%;
      }
    }
    .form-inputs:nth-child(2) {
      .form-group {
        padding-left: 0;
      }
    }
    .form-inputs:last-child {
      grid-area: auto;
      .form-group {
        width: 65%;
      }
    }
  }
}
