.form__content_container {
  padding: 1rem 0;
}
.form-inputs {
  margin: 0;
  .form-group {
    margin: 0;
  }
  label {
    display: flex;
    justify-content: space-between;
    input {
      padding: 0 0.5rem;
      height: auto;
    }
  }
  label[for='directionId'],
  label[for='sex'] {
    justify-content: flex-start;
    input {
      width: auto;
      margin-right: 1rem;
    }
  }
}
