@import '../../scss/variables';

#change-pass-modal {
  min-width: min-content;
  max-width: 30rem;
  .custom-switch {
    align-self: flex-start;
    padding-left: 3rem;
  }
  .subtitle {
    margin: 1rem;
  }
  .modal-window__content {
    height: 9rem;
  }
  @media screen and (max-width: 768px) {
    align-self: center;
  }
}
