@import '../../scss/variables';
.navigation {
  background-color: $charcoal;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  z-index: 2;
  &__header-nav {
    display: flex;
  }
  &__menu-btn {
    margin: 0 0.5rem;
    display: none;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    border: none;
    flex-direction: column;
    justify-content: space-around;
    &:hover {
      background-color: $grey;
    }
    span {
      &::after {
        display: block;
        content: '';
        width: 2rem;
        height: 2px;
        background-color: $baby-blue;
      }
    }
  }
  a {
    @include inactive-link;
    &:hover {
      @include active-link;
      height: 100%;
    }
  }
  .active-link {
    @include active-link;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    justify-content: space-between;
    flex-direction: row-reverse;
    &__menu-btn {
      display: flex;
    }
    &__header-nav {
      display: none;
    }
  }
}
