@import '../../scss/variables';
.table-wrapper {
  border-radius: 0.5rem;
  .table {
    margin-top: 1rem;
    border-radius: inherit;
    width: 100%;
    border-collapse: collapse;
    font-family: 1rem;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
    th {
      border: none;
    }
    tr:nth-child(odd) {
      background-color: $grey-ligth;
    }
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.5rem;
      }
      td:last-child {
        border-bottom-right-radius: 0.5rem;
      }
    }
    .td-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5px;
    }
    .td-btns__MENTOR {
      grid-template-rows: 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .members-table {
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(6),
    td:nth-child(6) {
      display: none;
    }
  }
  .members-task-table {
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
  .task-table {
    .admin-btns {
      grid-template-columns: min-content;
    }
  }
  .user-btns {
    grid-template-columns: min-content;
  }
}
