@import '../../scss/variables';

@media screen and (max-width: 768px) {
  .members-table {
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(6),
    td:nth-child(6) {
      display: none;
    }
  }
  .members-task-table {
    th:nth-child(5),
    td:nth-child(5) {
      width: 50% !important;
    }
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
  .task-table {
    .admin-btns {
      grid-template-columns: min-content;
    }
  }
  .user-btns {
    grid-template-columns: min-content;
  }
}
.task-table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 50% !important;
  }
}
@media screen and (max-width: 475px) {
  .members-table {
    th:nth-child(5),
    td:nth-child(5) {
      display: none;
    }
    .td-btns {
      grid-template-columns: min-content !important;
    }
  }
  .members-task-table {
    .admin-btns {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
  }
  .task-table {
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }
  }
}
