.checkboxes__wrapper {
  display: grid;
  height: 5rem;
  label {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }
  label[for='directionId_.Net_filter'] {
    align-items: flex-end;
  }
  label[for='directionId_Salesforce_filter'] {
    align-items: flex-end;
  }
}
