@import '../../scss/variables';
.side-bar__open {
  @include initial-sidebar;
  width: 70%;
  a,
  .btn-logout {
    @include inactive-link;
    height: 4rem;
    width: 100%;
    transform: scale(1, 1);
    animation: transform 0.1s linear;
    &:hover {
      @include active-link;
      height: 4rem;
    }
  }
  .active-link {
    @include active-link;
    transform: scale(1, 1);
    animation: transform 0.1s linear;
    height: 4rem;
  }
}

.side-bar {
  @include initial-sidebar;
  a,
  .btn-logout {
    @include inactive-link;
    height: 4rem;
    width: 0;
    transform: scale(0, 1);
    animation: transform 0.1s linear;
  }
  .active-link {
    @include active-link;
    height: 4rem;
    transform: scale(0, 1);
    animation: transform 0.1s linear;
  }
}

.dark-sidebar {
  background-color: $black;
  a:hover {
    background-color: $freesia;
  }
  .active-link {
    background-color: $freesia;
  }
}

.backdrop__open {
  @include initial-backdrop;
  z-index: 2;
  width: 100vw;
}

.backdrop {
  @include initial-backdrop;
}

@media screen and (max-width: 425px) {
  .side-bar__open {
    width: 100%;
  }
}
