@import '../../scss/variables';

.subtitle {
  font-weight: 300;
  border-left: 5px solid $freesia;
  padding-left: 1.5rem;
  margin: 1.5rem 0;
}

.main-title {
  text-align: center;
  font-weight: 300;
}

.paragraph {
  font-weight: 300;
  font-size: 1.2rem;
}

.danger-subtitle {
  margin-top: 0;
  border-left: 5px solid $honeysuckle;
}

.no-data-message {
  padding-top: 1rem;
}
