$baby-blue: #e3e8f0 !default;
$grey: #82807f !default;
$grey-ligth: #dddddd !default;
$charcoal: #414754 !default;
$sand-dollar: #e5d7be !default;
$cyan: #4cd7d0 !default;
$freesia: #e1c340 !default;
$honeysuckle: #c44b4f !default;
$teal-green: #0d877a !default;
$teal-green-hover: #0a5f57 !default;
$honeysuckle-hover: #8f373a !default;
$charcoal-hover: #2a2e36 !default;
$black: #16191a !default;
$icelandic-white: #d4d3d3 !default;

@mixin active-link {
  display: inline-block;
  background-color: $grey-ligth;
  padding: 0 1rem 0 1rem;
  transition: all 0.3s ease-in-out;
  animation: shake 0.3s;
  color: $charcoal;
}
@mixin inactive-link {
  display: inline-block;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0 1rem 0 1rem;
  color: $grey-ligth;
  transition: all 0.3s ease-in-out;
}

@mixin initial-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 0;
}

@mixin initial-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  width: 0;
  background-color: $charcoal;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  .btn-danger {
    position: absolute;
    right: 3rem;
    top: 2rem;
  }
}

@mixin hide-pass {
  background-color: $charcoal;
  border-color: #ced4da;
  svg {
    fill: #ced4da;
  }
  &:hover {
    background-color: #ced4da;
    svg {
      fill: #000;
    }
  }
}

@keyframes shake {
  0% {
    padding: 0 1rem 0 1rem;
  }
  50% {
    padding: 0 0.25rem 0 1.75rem;
  }
  100% {
    padding: 0 1rem 0 1rem;
  }
}

@mixin scrollbar {
  width: 5px;
}
@mixin scrollbar-track {
  background-color: transparent;
}
@mixin scrollbar-thumb {
  padding: 3rem;
  background-color: $teal-green;
  border-radius: 0.25rem;
}

:export {
  charcoalHover: $charcoal-hover;
  icelandicWhite: $icelandic-white;
}
