$baby-blue: #e3e8f0 !default;
$grey: #82807f !default;
$grey-ligth: #dddddd !default;
$charcoal: #414754 !default;
$sand-dollar: #e5d7be !default;
$cyan: #4cd7d0 !default;
$freesia: #e1c340 !default;
$honeysuckle: #c44b4f !default;
$teal-green: #0d877a !default;
$teal-green-hover: #0a5f57 !default;
$honeysuckle-hover: #8f373a !default;
$charcoal-hover: #2a2e36 !default;

@mixin active-link {
  display: inline-block;
  background-color: $grey-ligth;
  padding: 0 0.5rem 0 1.5rem;
  transition: all 0.3s ease-in-out;
  color: $charcoal;
}
@mixin inactive-link {
  display: inline-block;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0 1.5rem 0 0.5rem;
  color: $grey-ligth;
  transition: all 0.3s ease-in-out;
}
